<div class="row">
  <div class="col-8 offset-2">
    <div class="card">
      <div class="card-header">
        <h4 class="text-center">User Registration</h4>
      </div>
      <div class="card-body">
        <form>
          <!-- email -->
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              name="username"
              id="username"
              placeholder=""
            />
            <label for="username">Email</label>
          </div>

          <!-- password -->
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              placeholder=""
            />
            <label for="password">Password</label>
          </div>

          <!-- buttons -->
          <div class="row">
            <div class="col">
              <div class="d-grid">
                <button class="btn btn-success">Register</button>
              </div>
            </div>
            <div class="col">
              <div class="d-grid">
                <button class="btn btn-secondary">Reset</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
