<div class="row">
  <div class="col-8 offset-2">
    <div class="card">
      <div class="card-header">
        <h4 class="text-center">User Registration</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <!-- email -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              name="username"
              id="username"
              placeholder=""
              formControlName="username"
            />
            <label for="username">Email</label>
          </div>

          <!-- Error Messages -->
          <div *ngIf="username.errors && (username.dirty || username.touched)">
            <div *ngIf="username.hasError('required')">
              <p class="alert alert-danger">User name field is mandatory</p>
            </div>
            <div *ngIf="username.hasError('email')">
              <p class="alert alert-danger">
                User name field should contain proper email format
              </p>
            </div>
          </div>

          <!-- password -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              name="password"
              id="password"
              placeholder=""
              formControlName="password"
            />
            <label for="password">Password</label>
          </div>

          <!-- Password - Error Messages -->
          <div *ngIf="password.errors && (password.dirty || password.touched)">
            <div *ngIf="password.hasError('required')">
              <p class="alert alert-danger">Password field is mandatory</p>
            </div>
            <div *ngIf="password.hasError('minlength')">
              <p class="alert alert-danger">
                Password field should contain at least 6 characters
              </p>
            </div>
            <div *ngIf="password.hasError('exclamationError')">
              <p class="alert alert-danger">
                Password field should contain exclamation mark (!).
              </p>
            </div>
          </div>

          <!-- hobbies : FormArray-->
          <div formArrayName="hobbies" class="mb-3">
            <button
              class="btn btn-info"
              (click)="onAddNewHobby()"
              type="button"
            >
              Add Hobby
            </button>
            <div *ngFor="let hobby of hobbies.controls; let i = index">
              <div [formGroupName]="i" class="mb-2">
                <div class="row">
                  <div class="col-4">
                    <input
                      type="text"
                      name="name"
                      formControlName="name"
                      class="form-control"
                      placeholder="hobby name"
                    />
                  </div>
                  <div class="col-8">
                    <input
                      type="number"
                      name="frequency"
                      formControlName="frequency"
                      class="form-control"
                      placeholder="frequency"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- buttons -->
          <div class="row">
            <div class="col">
              <div class="d-grid">
                <button
                  type="submit"
                  [disabled]="!registerForm.valid"
                  class="btn btn-success"
                >
                  Register
                </button>
              </div>
            </div>
            <div class="col">
              <div class="d-grid">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="onLogin()"
                >
                  Login
                </button>
              </div>
            </div>
            <div class="col">
              <div class="d-grid">
                <button type="button" class="btn btn-secondary">Reset</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
