<div class="container">
  <h1>App Works!</h1>

  <!-- UI REUSABLE BUTTON COMPONENT -->
  <!-- <app-button (btnClickEvent)="onSuccess()" [favColor]="'blue'"
    >Success</app-button
  >
  <app-button (btnClickEvent)="onWarning()" [favColor]="'orange'"
    >Warning</app-button
  > -->

  <!-- LIFE CYCLE DEMO -->
  <!-- <button class="btn btn-secondary" (click)="toggle = !toggle">Toggle</button>
  <app-life-cycle *ngIf="toggle" [title]="title"></app-life-cycle> -->

  <app-pipe-demo></app-pipe-demo>

  <hr />
  <!-- <app-users></app-users> -->
</div>
