<div class="container">
  <app-header></app-header>

  <router-outlet></router-outlet>

  <!-- UI REUSABLE BUTTON COMPONENT -->
  <!-- <app-button (btnClickEvent)="onSuccess()" [favColor]="'blue'"
    >Success</app-button
  >
  <app-button (btnClickEvent)="onWarning()" [favColor]="'orange'"
    >Warning</app-button
  > -->

  <!-- LIFE CYCLE DEMO -->
  <!-- <button class="btn btn-secondary" (click)="toggle = !toggle">Toggle</button>
  <app-life-cycle *ngIf="toggle" [title]="title"></app-life-cycle> -->

  <!-- <app-pipe-demo></app-pipe-demo> -->

  <!-- <app-register></app-register> -->

  <!-- <app-counter-one></app-counter-one>

  <hr />

  <app-counter-two></app-counter-two> -->

  <!-- <app-observable-demo></app-observable-demo> -->

  <!-- <app-user-bio></app-user-bio> -->

  <!-- <app-expenses></app-expenses> -->

  <!-- <hr /> -->
  <!-- <app-users *ngIf="authService.isAuthenticated()"></app-users> -->
</div>
