<div class="backdrop">
  <div class="my-model">
    <h3 class="text-center">{{ title | titlecase }}</h3>
    <form (ngSubmit)="onSubmitForm()" [formGroup]="expenseForm">
      <!-- title -->
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          name="title"
          id="title"
          placeholder=""
          formControlName="title"
        />
        <label for="title">Title</label>
      </div>

      <!-- amount -->
      <div class="form-floating mb-3">
        <input
          type="number"
          class="form-control"
          name="amount"
          id="amount"
          placeholder=""
          formControlName="amount"
        />
        <label for="amount">Amount</label>
      </div>

      <!-- date -->
      <div class="form-floating mb-3">
        <input
          type="date"
          class="form-control"
          name="createdAt"
          id="createdAt"
          placeholder=""
          formControlName="createdAt"
        />
        <label for="createdAt">Date</label>
      </div>

      <!-- buttons - add / reset -->
      <div class="row">
        <div class="col-6">
          <div class="d-grid">
            <button class="btn btn-primary" type="submit">
              {{ expense ? "Edit" : "Add" }}
            </button>
          </div>
        </div>
        <div class="col-6">
          <div class="d-grid">
            <button class="btn btn-secondary" (click)="onClose()">Close</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
