<div class="backdrop">
  <div class="my-model">
    <h3 class="text-center">Add Your Expense</h3>
    <form>
      <!-- title -->
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          name="title"
          id="title"
          placeholder=""
        />
        <label for="title">Title</label>
      </div>

      <!-- amount -->
      <div class="form-floating mb-3">
        <input
          type="number"
          class="form-control"
          name="amount"
          id="amount"
          placeholder=""
        />
        <label for="amount">Amount</label>
      </div>

      <!-- date -->
      <div class="form-floating mb-3">
        <input
          type="date"
          class="form-control"
          name="createdAt"
          id="createdAt"
          placeholder=""
        />
        <label for="createdAt">Date</label>
      </div>

      <!-- buttons - add / reset -->
      <div class="row">
        <div class="col-6">
          <div class="d-grid">
            <button class="btn btn-primary">Add</button>
          </div>
        </div>
        <div class="col-6">
          <div class="d-grid">
            <button class="btn btn-secondary">Reset</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
