<h3 class="text-center">The Users App</h3>

<ul class="list-group">
  <li
    class="list-group-item"
    *ngFor="
      let user of users;
      let i = index;
      let isFirst = first;
      let isLast = last;
      let isEven = even;
      let isOdd = odd
    "
  >
    <div class="row" [ngClass]="{ highlight: true }">
      <div class="col-4">
        <app-user-img
          [user]="user"
          (childEvent)="onMoreInfo($event)"
        ></app-user-img>
      </div>
      <div class="col-8">
        <!-- <p>Index : {{ i }}</p>
        <p>Is this First element : {{ isFirst }}</p>
        <p>Is this Last element : {{ isLast }}</p>
        <p>Is this Even element : {{ isEven }}</p>
        <p>Is this Odd element : {{ isOdd }}</p> -->
        <app-user-info [user]="user">
          <h3 appBetterHighlight favColor="gold" class="user-name">
            {{ user.firstName | titlecase }} {{ user.lastName | titlecase }}
          </h3>

          <p *ngIf="user.isWorking; else notWorkingTemplate">
            Mr. {{ user.lastName | titlecase }} is working with
            {{ user.company | uppercase }}.
          </p>

          <ng-template #notWorkingTemplate>
            <p>Mr. {{ user.lastName | titlecase }} is not working now.</p>
          </ng-template>
        </app-user-info>
      </div>
    </div>

    <!-- Comments -->
    <app-comments [comments]="user.comments"></app-comments>
  </li>
</ul>
