.ng-dirty.ng-invalid[name="body"] {
  border-bottom: 2px red solid;
}

.ng-dirty.ng-valid[name="body"] {
  border: 2px green solid;
}

.ng-dirty.ng-invalid[name="author"] {
  border-bottom: 2px red solid;
}

.ng-dirty.ng-valid[name="author"] {
  border: 2px green solid;
}
