<div class="row">
  <div class="col-8 offset-2">
    <div class="card">
      <div class="card-header">
        <h4 class="text-center">Add Your Comment Here</h4>
      </div>
      <div class="card-body">
        <form #commentForm="ngForm" (submit)="submitForm(commentForm)">
          <!-- stars -->
          <div class="mb-3">
            <label for="" class="form-label">Stars</label>
            <select class="form-select form-select-lg" name="stars" ngModel>
              <option selected>Select one</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>

          <!-- body -->
          <div class="mb-3">
            <label for="body" class="form-label">Your Message</label>
            <textarea
              class="form-control"
              name="body"
              rows="5"
              ngModel
              required
              minlength="6"
              #body="ngModel"
            ></textarea>
          </div>
          <!-- body field - Validation and Error Messages -->
          <div *ngIf="body.errors && (body.touched || body.dirty)">
            <p *ngIf="body.hasError('required')" class="alert alert-danger">
              Please fill some values in message box.
            </p>
            <p *ngIf="body.hasError('minlength')" class="alert alert-danger">
              Message box should contain at least 6 characters
            </p>
          </div>

          <!-- author -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              name="author"
              placeholder=""
              ngModel
              required
              email
              #author="ngModel"
            />
            <label for="formId1">Your Email</label>
          </div>

          <!-- body field - Validation and Error Messages -->
          <div *ngIf="author.errors && (author.dirty || author.touched)">
            <p class="alert alert-danger" *ngIf="author.hasError('required')">
              Author is mandatory field
            </p>
            <p class="alert alert-danger" *ngIf="author.hasError('email')">
              Author filed should contain proper email format
            </p>
          </div>

          <!-- <p>Form Status : {{ commentForm.valid }}</p> -->
          <!-- Buttons -->
          <div class="row">
            <div class="col">
              <div class="d-grid">
                <button
                  [disabled]="!commentForm.valid"
                  type="submit"
                  class="btn btn-primary"
                >
                  Add Comment
                </button>
              </div>
            </div>
            <div class="col">
              <div class="d-grid">
                <button
                  type="button"
                  (click)="commentForm.reset()"
                  class="btn btn-secondary"
                >
                  Reset
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
