<h1>Observable Examples</h1>

<button (click)="onIntervalSubscribe()" class="btn btn-primary">
  Start Interval
</button>
<button class="btn btn-danger" (click)="onIntervalUnsubscribe()">
  Stop Interval
</button>
<hr />

<button class="btn btn-primary" (click)="onFromSubscribe()">
  Subscribe Friends
</button>

<button class="btn btn-info" (click)="onOfSubscribe()">Subscribe Marks</button>

<hr />

<button class="btn btn-secondary" (click)="onCustomObsSubscribe()">
  Custom Observable
</button>

<hr />

<button class="btn btn-primary" (click)="onSubjectClick()">Subjects</button>
